http_interactions:
- request:
    method: post
    uri: https://pyj9b8sltv-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20JavaScript%20(4.5.1)%3B%20Browser%20(lite)%3B%20instantsearch.js%20(4.8.3)%3B%20JS%20Helper%20(3.2.2)&x-algolia-api-key=bec9ead5977b11ae383f4df272c2f106&x-algolia-application-id=PYJ9B8SLTV
    body:
      encoding: ''
      string: '{"requests":[{"indexName":"prod_grants","params":"query=qualitative
        research&maxValuesPerFacet=100&highlightPreTag=__ais-highlight__&highlightPostTag=__%2Fais-highlight__&facets=%5B%22topics%22%2C%22years%22%2C%22fundingSource%22%5D&tagFilters=&facetFilters=%5B%5B%22years%3A2020%22%2C%22years%3A2021%22%2C%22years%3A2020%22%5D%5D&page=0"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      x-alg-pt: '1'
      content-disposition: inline; filename=a.txt
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"hits":[{"title":"The Regents of the University of California,
        Berkeley","url":"https://www.arnoldventures.org/grants/the-regents-of-the-university-of-california-berkeley-13","grantAmount":941326,"grantTerm":"2015
        - 2021","grantDescription":"To perform qualitative research on the impacts
        of pretrial diversion and detention.","granteeUrl":"https://www.arnoldventures.org/grantees/the-regents-of-the-university-of-california-berkeley","fundingSource":"LJAF","years":[2015,2016,2017,2018,2019,2020,2021],"topics":["Criminal
        Justice","Pretrial Justice"],"body":null,"outcomeDescription":null,"objectID":"136154","_highlightResult":{"title":{"value":"The
        Regents of the University of California, Berkeley","matchLevel":"none","matchedWords":[]},"grantDescription":{"value":"To
        perform __ais-highlight__qualitative__/ais-highlight__ __ais-highlight__research__/ais-highlight__
        on the impacts of pretrial diversion and detention.","matchLevel":"full","fullyHighlighted":false,"matchedWords":["qualitative","research"]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":20,"facets":{"years":{"2015":1,"2016":1,"2017":1,"2018":1,"2019":1,"2020":1,"2021":1},"topics":{"Criminal
        Justice":1,"Pretrial Justice":1},"fundingSource":{"LJAF":1}},"facets_stats":{"years":{"min":2015,"max":2021,"avg":2018,"sum":14126}},"exhaustiveFacetsCount":true,"exhaustiveNbHits":true,"query":"qualitative
        research","params":"query=qualitative research&maxValuesPerFacet=100&highlightPreTag=__ais-highlight__&highlightPostTag=__%2Fais-highlight__&facets=%5B%22topics%22%2C%22years%22%2C%22fundingSource%22%5D&tagFilters=&facetFilters=%5B%5B%22years%3A2020%22%2C%22years%3A2021%22%2C%22years%3A2020%22%5D%5D&page=0","index":"prod_grants","processingTimeMS":2}]}'
  recorded_at: 2021-02-19 14:53:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
