http_interactions:
- request:
    method: get
    uri: https://api.federalreporter.nih.gov/v1/Projects/search?query=agency:USDA,DOD,NASA,EPA,ED$text:interviews$textFields:terms$fy:2012,2013,2014,2015,2016,2017,2018,2019,2020
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"totalCount":73,"offset":1,"limit":50,"totalPages":2,"items":[{"projectNumber":"R324A170073","fy":2017,"title":"PROFESSIONAL
        DEVELOPMENT OF AN MTSS MODEL FOR EARLY CHILDHOOD EDUCATORS TO PREVENT READING
        DISABILITIES","department":"ED","agency":"IES","ic":"NCSER","totalCostAmount":438257,"nihApplId":null,"smApplId":1085969,"budgetStartDate":"2017-07-01T00:00:00","budgetEndDate":"2018-06-30T00:00:00","contactPi":"GOLDSTEIN,
        HOWARD","otherPis":null,"congressionalDistrict":"14","dunsId":"069687242","latitude":27.950575,"longitude":-82.4571776,"orgName":"UNIVERSITY
        OF SOUTH FLORIDA","orgCity":"TAMPA","orgState":"FL","orgCountry":"UNITED STATES","orgZipCode":"33620-9951","projectStartDate":"2017-07-01T00:00:00","projectEndDate":"2020-06-30T00:00:00","cfdaCode":"84.324","abstract":"This
        project will develop a professional development (PD) model to support teachers
        in implementing an early literacy Multi-Tiered System of Supports (MTSS) in
        early childhood classrooms to improve reading outcomes for children who are
        at risk for reading disabilities. MTSS provides varying levels (tiers) of
        instruction to students based on assessments that are used in data-based decision
        making by educators. Early childhood educators are rarely p[...]
- request:
    method: get
    uri: https://api.federalreporter.nih.gov/v1/Projects/search?query=agency:USDA,DOD,NASA,EPA,ED$text:interviews$textFields:terms$fy:2012,2013,2014,2015,2016,2017,2018,2019,2020&offset=51
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
     [...]
