http_interactions:
- request:
    method: get
    uri: http://www.r-project.org/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      last-modified: Tue, 11 Jan 2022 21:10:02 GMT
      etag: '"181a-5d554e06cd8c5-gzip"'
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n    <title>R: The R Project
        for Statistical Computing</title>\n\n    <link rel=\"icon\" type=\"image/png\"
        href=\"/favicon-32x32.png\" sizes=\"32x32\" />\n    <link rel=\"icon\" type=\"image/png\"
        href=\"/favicon-16x16.png\" sizes=\"16x16\" />\n\n    <!-- Bootstrap -->\n
        \   <link href=\"/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link href=\"/css/R.css\"
        rel=\"stylesheet\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support
        of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't
        work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script
        src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n
        \   <![endif]-->\n  </head>\n  <body>\n    <div class=\"container page\">\n
        \     <div class=\"row\">\n        <div class=\"col-xs-12 col-sm-offset-1
        col-sm-2 sidebar\" role=\"navigation\">\n<div class=\"row\">\n<div class=\"col-xs-6
        col-sm-12\">\n<p><a href=\"/\"><img src=\"/Rlogo.png\" width=\"100\" height=\"78\"
        alt = \"R\" /></a></p>\n<p><small><a href=\"/\">[Home]</a></small></p>\n<h2
        id=\"download\">Download</h2>\n<p><a href=\"https://cran.r-project.org/mirrors.html\">CRAN</a></p>\n<h2
        id=\"r-project\">R Project</h2>\n<ul>\n<li><a href=\"/about.html\">About R</a></li>\n<li><a
        href=\"/logo/\">Logo</a></li>\n<li><a href=\"/contributors.html\">Contributors</a></li>\n<li><a
        href=\"/news.html\">What’s New?</a></li>\n<li><a href=\"/bugs.html\">Reporting
        Bugs</a></li>\n<li><a href=\"/conferences/\">Conferences</a></li>\n<li><a
        href=\"/search.html\">Search</a></li>\n<li><a href=\"/mail.html\">Get Involved:
        Mailing Lists</a></li>\n<li><a href=\"https://contributor.r-project.org/\">Get
        Involved: Contributing</a></li>\n<li><a href=\"https://developer.R-project.org/\">Developer
        Pages</a></li>\n<li><a href=\"https://developer.r-project.org/Blog/public/\">R
        Blog</a></li>\n</ul>\n</div>\n<div class=\"col-xs-6 col-sm-12\">\n<h2 id=\"r-foundation\">R
        Foundation</h2>\n<ul>\n<li><a href=\"/foundation/\">Foundation</a></li>\n<li><a
        href=\"/foundation/board.html\">Board</a></li>\n<li><a href=\"/foundation/members.html\">Members</a></li>\n<li><a
        href=\"/foundation/donors.html\">Donors</a></li>\n<li><a href=\"/foundation/donations.html\">Donate</a></li>\n</ul>\n<h2
        id=\"help-with-r\">Help With R</h2>\n<ul>\n<li><a href=\"/help.html\">Getting
        Help</a></li>\n</ul>\n<h2 id=\"documentation\">Documentation</h2>\n<ul>\n<li><a
        href=\"https://cran.r-project.org/manuals.html\">Manuals</a></li>\n<li><a
        href=\"https://cran.r-project.org/faqs.html\">FAQs</a></li>\n<li><a href=\"https://journal.r-project.org\">The
        R Journal</a></li>\n<li><a href=\"/doc/bib/R-books.html\">Books</a></li>\n<li><a
        href=\"/certification.html\">Certification</a></li>\n<li><a href=\"/other-docs.html\">Other</a></li>\n</ul>\n<h2
        id=\"links\">Links</h2>\n<ul>\n<li><a href=\"https://www.bioconductor.org\">Bioconductor</a></li>\n<li><a
        href=\"https://r-forge.r-project.org/\">R-Forge</a></li>\n<li><a href=\"https://r-hub.github.io/rhub/\">R-Hub</a></li>\n<li><a
        href=\"/gsoc.html\">GSoC</a></li>\n</ul>\n</div>\n</div>\n        </div>\n
        \       <div class=\"col-xs-12 col-sm-7\">\n        <h1>The R Project for
        Statistical Computing</h1>\n<h2 id=\"getting-started\">Getting Started</h2>\n<p>R
        is a free software environment for statistical computing and graphics. It
        compiles and runs on a wide variety of UNIX platforms, Windows and MacOS.
        To <strong><a href=\"https://cran.r-project.org/mirrors.html\">download R</a></strong>,
        please choose your preferred <a href=\"https://cran.r-project.org/mirrors.html\">CRAN
        mirror</a>.</p>\n<p>If you have questions about R like how to download and
        install the software, or what the license terms are, please read our <a href=\"https://cran.R-project.org/faqs.html\">answers
        to frequently asked questions</a> before you send an email.</p>\n<h2 id=\"news\">News</h2>\n<ul>\n<li><a[...]
[...]
