http_interactions:
- request:
    method: get
    uri: https://searchg2.crownpeak.net/live-macfound-rt/select?q=qualitative&wt=xml&start=0&rows=25494&echoParams=explicit&fl=%2A&defType=edismax&fq=custom_s_template%3A%22grant%20detail%22&sort=score%20desc&qf=custom_t_title%20custom_t_description%20custom_t_name&indent=true&json.wrf=searchg2_5445608496089546
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>

        <lst name="responseHeader">
          <bool name="zkConnected">true</bool>
          <int name="status">0</int>
          <int name="QTime">0</int>
          <lst name="params">
            <str name="q">qualitative</str>
            <str name="defType">edismax</str>
            <str name="json.wrf">searchg2_5445608496089546</str>
            <str name="echoParams">explicit</str>
            <str name="qf">custom_t_title custom_t_description custom_t_name</str>
            <str name="indent">true</str>
            <str name="fl">*</str>
            <str name="start">0</str>
            <str name="fq">custom_s_template:"grant detail"</str>
            <str name="sort">score desc</str>
            <str name="rows">25494</str>
            <str name="wt">xml</str>
          </lst>
        </lst>
        <result name="response" numFound="15" start="0">
          <doc>
            <str name="id">87682</str>
            <str name="url">87682</str>
            <str name="custom_s_template">grant detail</str>
            <str name="metadata_title">To support the project Blending Quantitative and Qualitative Data in the Study of Well-Being.</str>
            <str name="metadata_description">The MacArthur Foundation supports creative people and effective institutions committed to building a more just, verdant, and peaceful world. In addition to selecting the MacAr[...]
