http_interactions:
- request:
    method: post
    uri: https://api.reporter.nih.gov/v1/projects/Search
    body:
      encoding: ''
      string: '{"criteria":{"award":{"award_notice_date":{"from_date":"2019-01-01","to_date":"2019-02-25"}},"exclude_subprojects":"true","advanced_text_search":{"search_text":"qualitative","operator":"AND","search_field":"terms"}},"include_fields":["org_name","project_num","project_serial_num","fiscal_year","project_start_date","project_end_date","project_title","agency_code","abstract_text","contact_pi_name","award_amount"],"offset":0}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      api-supported-versions: '1.0'
      x-rate-limit-limit: 1m
      x-rate-limit-remaining: '99'
      x-rate-limit-reset: '2021-03-26T17:36:32.8029779Z'
      node: '2'
    body:
      encoding: UTF-8
      file: no
      string: "{\"meta\":{\"search_id\":null,\"total\":58,\"offset\":0,\"limit\":50,\"sort_field\":null,\"sort_order\":\"ASC\",\"sorted_by_relevance\":true,\"properties\":{}},\"results\":[{\"fiscal_year\":2019,\"org_name\":\"MASSACHUSETTS
        GENERAL HOSPITAL\",\"project_num\":\"5R13AA022858-06\",\"project_serial_num\":\"AA022858\",\"award_amount\":59134,\"contact_pi_name\":\"HOEPPNER,
        BETTINA B\",\"project_start_date\":\"2014-02-01T05:00:00Z\",\"project_end_date\":\"2020-02-06T05:00:00Z\",\"abstract_text\":\"7.
        Project Summary\\nThis is a proposal for a fourth renewal of travel grant
        R13AA017107. For the last nine years, this grant has\\nprovided funding to
        support scientific dissemination and early career investigator (ECI) career
        development at\\nthe annual convention of the American Psychological Association
        (APA). Psychologists make up a major\\nconstituency in the scientific community
        of alcohol researchers and on topics related to alcohol. The [...]
[...]
- request:
    method: get
    uri: https://api.nsf.gov/services/v1/awards.json?keyword="qualitative"&printFields=id,date,startDate,expDate,title,awardeeName,piFirstName,piLastName,piEmail,cfdaNumber,fundsObligatedAmt,fundProgramName&dateStart=01/01/2019&dateEnd=02/25/2019&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "response" : {
            "award" : [ {
              "awardeeName" : "Northwestern University",
              "cfdaNumber" : "47.041",
              "fundsObligatedAmt" : "500000",
              "fundProgramName" : "CIS-Civil Infrastructure Syst",
              "id" : "1847537",
              "piEmail" : "a-stathopoulos@northwestern.edu",
              "piFirstName" : "Amanda",
              "piLastName" : "Stathopoulos",
              "date" : "02/11/2019",
              "startDate" : "03/01/2019",
              "expDate" : "02/29/2024",
              "title" : "CAREER: Transformative Mobility Analysis: Mixed Methods Framework"
            }, {
              "awardeeName" : "Virginia Commonwealth University",
              "cfdaNumber" : "47.075",
              "fundsObligatedAmt" : "39184",
              "fundProgramName" : "SPRF-Broadening Participation",
              "id" : "1854100",
              "piEmail" : "scjones4@vcu.edu",
              "piFirstName" : "Shawn",
              "piLastName" : "Jones",
              "date" : "01/30/2019",
     [...]
[...]
