http_interactions:
- request:
    method: post
    uri: https://api.reporter.nih.gov/v1/projects/Search
    body:
      encoding: ''
      string: '{"criteria":{"award":{"award_notice_date":{"from_date":"2019-01-01","to_date":"2019-02-25"}},"exclude_subprojects":"true","advanced_text_search":{"search_text":"\"qualitative\"","operator":"advanced","search_field":"abstracttext"}},"include_fields":["OrgName","ProjectNum","ProjectSerialNum","FiscalYear","ProjectStartDate","ProjectEndDate","ProjectTitle","AgencyCode","AbstractText","ContactPiName","AwardAmount","AwardNoticeDate"],"limit":500,"offset":0}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      api-supported-versions: 1.0, 2.0
      x-rate-limit-limit: 1m
      x-rate-limit-remaining: '199'
      x-rate-limit-reset: '2022-01-28T18:32:01.7077868Z'
      node: '2'
    body:
      encoding: UTF-8
      file: no
      string: "{\"meta\":{\"search_id\":null,\"total\":121,\"offset\":0,\"limit\":500,\"sort_field\":null,\"sort_order\":\"ASC\",\"sorted_by_relevance\":true,\"properties\":{}},\"results\":[{\"fiscal_year\":2019,\"org_name\":\"VANDERBILT
        UNIVERSITY MEDICAL CENTER\",\"project_num\":\"5K23HL127130-05\",\"project_serial_num\":\"HL127130\",\"award_amount\":156248,\"contact_pi_name\":\"WARD,
        MICHAEL J.\",\"project_start_date\":\"2016-01-01T05:00:00Z\",\"project_end_date\":\"2020-12-31T05:00:00Z\",\"award_notice_date\":\"2019-01-15T05:00:00Z\",\"abstract_text\":\"\uFEFF
        \  \\nDESCRIPTION (provided by applicant): In the U.S., nearly 500,000 patients
        suffer an ST-elevation myocardial infarction (STEMI) each year. Most emergency
        departments (EDs) lack the local capabilities to perform primary percutaneous
        coronary intervention (PCI) for myocardial reperfusion. Thus, patients must
        be transferred to capable facilities, but inefficiencies in this process cause
        delays in timely myocardial reperfusion and worsen [...]
- request:
    method: get
    uri: https://api.nsf.gov/services/v1/awards.json?keyword=%22qualitative%22&printFields=id%2Cdate%2CstartDate%2CexpDate%2Ctitle%2CawardeeName%2CpiFirstName%2CpiLastName%2CpiEmail%2CcfdaNumber%2CestimatedTotalAmt%2CfundProgramName%2CabstractText%2CawardeeCounty&dateStart=01%2F01%2F2019&dateEnd=02%2F25%2F2019&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "response" : {
            "award" : [ {
              "abstractText" : "Advances in transportation systems, fueled by on-demand mobility-platforms, crowd-sourcing, ride-hailing and increasing automation, promise to enhance the livability and competitiveness of cities and rural areas globally. A fundamental question is whether these innovations will contribute to solving, or inadvertently exacerbate, critical challenges such as congestion, emissions and inequitable access to mobility. This Faculty Early Career Development Program (CAREER) research addresses a gap i[...]
[...]
