http_interactions:
- request:
    method: get
    uri: https://www.openphilanthropy.org/giving/grants?keys=%22qualitative%22
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=utf-8
      x-drupal-cache: MISS
      content-language: en
      x-generator: Drupal 7 (http://drupal.org)
      link: <https://www.openphilanthropy.org/giving/grants>; rel="canonical",<https://www.openphilanthropy.org/giving/grants>;
        rel="shortlink"
    body:
      encoding: UTF-8
      file: no
      string: "\uFEFF<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n<head>\n  <title>Grants
        Database | Open Philanthropy</title>\n  <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<link rel=\"shortcut icon\" href=\"https://www.openphilanthropy.org/sites/all/themes/op_basic/favicon.ico\"
        type=\"image/vnd.microsoft.icon\" />\n<meta name=\"description\" content=\"Open
        Philanthropy’s mission is to give as effectively as we can and share our findings
        openly so that anyone can build on our work. Through research and grantmaking,
        we hope to learn how to make philanthropy [...]
