http_interactions:
- request:
    method: get
    uri: https://www.ssrc.org/search/?t=fellows&sort=relevance&q=qualitative&year=2012,2013,2014,2015,2016,2017,2018,2019,2020
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      last-modified: Fri, 19 Feb 2021 16:44:20 GMT
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        <!DOCTYPE html>
        <html class="no-js" lang="en">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="imagetoolbar" content="false">
        <meta name="MSSmartTagsPreventParsing" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#E1E2E3">
        <meta charset="utf-8">
        <meta name="root" content="https://www.ssrc.org/">
        <link rel="shortcut icon" href="https://www.ssrc.org/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
        <link rel="preconnect" href="https://s3.amazonaws.com">
        <link rel="preconnect" href="https://cdnjs.cloudflare.com">
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://www.googletagmanager.com">
        <link rel="alternate" type="application/rss+xml" title="SSRC Newsfeed" href="https://www.ssrc.org/feed/">
        <title>Search for qualitative | Social Science Research Council (SSRC) | Brooklyn, NY, USA</title>
        <link rel="preload" as="font" crossorigin="anonymous" type="font/woff2" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0">
        <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;display=swap" crossorigin="anonymous">
        <link rel="stylesheet" as="style" href="https://www.ssrc.org/workspace/assets/dist/app.min.css?v=2.0.12">
        <meta property="og:site_name" content="Social Science Research Council">
        <meta name="twitter:site" content="@SSRC_org">
        <meta name="twitter:card" content="summary_large_image">
        </head>
        <body itemscope="itemscope" itemtype="http://schema.org/SearchResultsPage" id="search-page">
        <svg style="display: none"><symbol id="logo" viewBox="0 0 672 219"><path d="m312.60000172 163.20000572c-14.9 0-25.6-3.5-35-13.1l10-9.9c7.2 7.2 15.1 9.5 25.3 9.5 12.9 0 20.4-5.6 20.4-15.2 0-4.3-1.3-7.9-3.9-10.3-2.5-2.4-5-3.3-10.8-4.2l-11.7-1.7c-8.1-1.1-14.5-3.9-18.8-7.9-4.9-4.6-7.2-10.8-7.2-18.9 0-17.2 12.5-29 33.1-29 13.1 0 22.2 3.3 30.7 11.3l-9.6 9.4c-6.1-5.8-13.2-7.6-21.5-7.6-11.7 0-18.1 6.7-18.1 15.4 0 3.6 1.1 6.8 3.8 9.2 2.5 2.2 6.5 3.9 11.1 4.6l11.3 1.7c9.2 1.4 14.3 3.6 18.5 7.4 5.4 4.7 8.1 11.8 8.1 20.3-.1 18.2-15 29-35.7 29z"></path><path d="m415.90000172 163.[...]
- request:
    method: get
    uri: https://www.ssrc.org/search/?t=fellows&sort=relevance&q=qualitative&year=2012,2013,2014,2015,2016,2017,2018,2019,2020&p=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      last-modified: Fri, 19 Feb 2021 16:44:20 GMT
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
    [...]
[...]
