http_interactions:
- request:
    method: get
    uri: https://www.ssrc.org/s?=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/html; charset=UTF-8
      link: <https://www.ssrc.org/wp-json/>; rel="https://api.w.org/"
      ki-edge: v=16.8
      x-edge-location-klb: '1'
      x-kinsta-cache: BYPASS
      x-tec-api-origin: https://www.ssrc.org
      x-tec-api-root: https://www.ssrc.org/wp-json/tribe/events/v1/
      x-tec-api-version: v1
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\r\n<html lang=\"en-US\">\r\n<head>\r\n<meta charset=\"UTF-8\">\r\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n<link
        rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\r\n\r\n<meta name='robots'
        content='noindex, follow' />\n\n\t<!-- This site is optimized with the Yoast
        SEO Premium plugin v17.8 (Yoast SEO v17.8) - https://yoast.com/wordpress/plugins/seo/
        -->\n\t<title>Page not found &ndash; Social Science Research Council (SSRC)</title>\n\t<meta
        property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:title\"
        content=\"Page not found &ndash; Social Science Research Council (SSRC)\"
        />\n\t<meta property=\"og:site_name\" content=\"Social Science Research Council
        (SSRC)\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"Organization\",\"@id\":\"https://www.ssrc.org/#organization\",\"name\":\"Social
        Science Research Council (SSRC)\",\"url\":\"https://www.ssrc.org/\",\"sameAs\":[\"https://www.facebook.com/SSRC.org/\",\"https://www.linkedin.com/company/social-science-research-council\",\"https://www.youtube.com/user/SSRCorg\",\"https://en.wikipedia.org/wiki/Social_Science_Research_Council\",\"https://twitter.com/ssrc_org\"],\"logo\":{\"@type\":\"ImageObject\",\"@id\":\"https://www.ssrc.org/#logo\",\"inLanguage\":\"en-US\",\"url\":\"https://www.ssrc.org/wp-content/uploads/2019/12/ssrc-logo.svg\",\"contentUrl\":\"https://www.ssrc.org/wp-content/uploads/2019/12/ssrc-logo.svg\",\"width\":\"1024\",\"height\":\"1024\",\"caption\":\"Social
        Science Research Council (SSRC)\"},\"image\":{\"@id\":\"https://www.ssrc.org/#logo\"}},{\"@type\":\"WebSite\",\"@id\":\"https://www.ssrc.org/#website\",\"url\":\"https://www.ssrc.org/\",\"name\":\"Social
        Science Research Council (SSRC)\",\"description\":\"Mobilizing Social Science
        for the Public Good\",\"publisher\":{\"@id\":\"https://www.ssrc.org/#organization\"},\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https://www.ssrc.org/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"}]}</script>\n\t<!-- /
        Yoast SEO Premium plugin. -->\n\n\n<link rel='dns-prefetch' href='//kit.fontawesome.com'
        />\n<link rel='dns-prefetch' href='//fonts.googleapis.com' />\n<link rel='dns-prefetch'
        href='//use.typekit.net' />\n<link rel='dns-prefetch' href='//s.w.org' />\n<link
        rel=\"alternate\" type=\"application/rss+xml\" title=\"Social Science Research
        Council (SSRC) &raquo; Feed\" href=\"https://www.ssrc.org/feed/\" />\n<link
        rel=\"alternate\" type=\"application/rss+xml\" title=\"Social Science Research
        Council (SSRC) &raquo; Comments Feed\" href=\"https://www.ssrc.org/comments/feed/\"
        />\n<link rel=\"alternate\" type=\"text/calendar\" title=\"Social Science
        Research Council (SSRC) &raquo; iCal Feed\" href=\"https://www.ssrc.org/events/?ical=1\"
        />\n\t\t<script>\n\t\t\twindow._wpemojiSettings = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.1.0\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.1.0\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"https:\\/\\/www.ssrc.org\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=23613720\"}};\n\t\t\t!function(e,a,t){var
        n,r,o,i=a.createElement(\"canvas\"),p=i.getContext&&i.getContext(\"2d\");function
        s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return
        p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function
        c(e){var t=a.createElement(\"script\");t.src=e,t.defer=t.type=\"text/javascript\",a.getElementsByTagName(\"head\")[0].appendChild(t)}for(o=Array(\"flag\",\"emoji\"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline=\"top\",p.font=\"600
        32px Arial\",e){case\"flag\":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case\"emoji\":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],\"flag\"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener(\"DOMContentLoaded\",n,!1),e.addEventListener(\"load\",n,!1)):(e.attachEvent(\"onload\",n),a.attachEvent(\"onreadystatechange\",function(){\"complete\"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);\n\t\t</script>\n\t\t<style>\nimg.wp-smiley,\nimg.emoji
        {\n\tdisplay: inline !important;\n\tborder: none !important;\n\tbox-shadow:
        none !important;\n\theight: 1em !important;\n\twidth: 1em !important;\n\tmargin:
        0 .07em !important;\n\tvertical-align: -0.1em !important;\n\tbackground: none
        !important;\n\tpadding: 0 !important;\n}\n</style>\n\t<link rel='stylesheet'
        id='astra-theme-css-css'  href='https://www.ssrc.org/wp-content/themes/astra/assets/css/minified/style.min.css?ver=38879[...]
