http_interactions:
- request:
    method: post
    uri: https://12786hbsdl-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20JavaScript%20(4.10.3)%3B%20Browser%20(lite)%3B%20instantsearch.js%20(4.25.2)%3B%20JS%20Helper%20(3.5.4)&x-algolia-api-key=cdd85ab4fc628277674bb5d9e375af2b&x-algolia-application-id=12786HBSDL
    body:
      encoding: ''
      string: '{"requests":[{"indexName":"wp_searchable_posts","params":"query=\"case
        studies\"","facetFilters":"[[\"competition_year:2018\",\"competition_year:2019\",\"competition_year:2020\",\"competition_year:2021\"],[\"post_type:fellow\"]]"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      x-alg-pt: '2'
      content-disposition: inline; filename=a.txt
    body:
      encoding: UTF-8
      file: no
      string: "{\"results\":[{\"hits\":[{\"post_id\":10395,\"post_type\":\"fellow\",\"post_type_label\":\"Fellows\",\"post_title\":\"Tendai
        Chari\",\"post_excerpt\":\"\",\"post_date\":1633278512,\"post_date_formatted\":\"October
        3, 2021\",\"post_modified\":1633278514,\"comment_count\":0,\"menu_order\":0,\"post_author\":{\"user_id\":1,\"display_name\":\"ssrc_admin\",\"user_url\":\"\",\"user_login\":\"ssrc_admin\"},\"images\":[],\"permalink\":\"https://www.ssrc.org/fellows/8b4e1782-5680-e811-80cb-005056ab0bd9/\",\"post_mime_type\":\"\",\"taxonomies\":[],\"taxonomies_hierarchical\":[],\"is_sticky\":0,\"archived\":\"false\",\"exclude_search\":\"false\",\"program_types\":\"\",\"competition_year\":\"2018\",\"project_title\":\"Diaspora
        Media and their Entanglement in Homeland Conflicts: Mapping Discourses of
        Conflict and Peacebuilding\",\"project_description\":\"\",\"award_title\":\"\",\"award_institution\":\"University
        of Venda\",\"award_department\":\"\",\"image_url\":\"https://s3.amazonaws.com/ssrc-cdn1/crmuploads/contact/%7BB27C1ADD-0DE7-E611-80C4-005056AB0BD9%7D.jpg\",\"related_competitions\":\"Book
        Manuscript Completion Grants\",\"fellow_topics\":\"\",\"authors\":null,\"primary_author\":null,\"publish_date\":null,\"publisher\":null,\"s3azure_image_url\":\"https://s3.amazonaws.com/ssrc-cdn1/crmuploads/contact/%7BB27C1ADD-0DE7-E611-80C4-005056AB0BD9%7D.jpg\",\"s3azure_pdf_url\":null,\"type\":null,\"post_year\":2021,\"content\":\"Tendai
        Joseph Chari is a senior lecturer in the Media Studies Department, School
        of Human and Social Sciences, University of Venda, South Africa. He holds
        a PhD in Media Studies from the University of Witwatersrand, South Africa,
        and a Master’s in Media and Communication Studies from the University of
        Zimbabwe. Dr. Chari is widely published in the field of Media Studies and
        his research interests span a number of specializations, such as politica[...]
- request:
    method: post
    uri: https://12786hbsdl-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20JavaScript%20(4.10.3)%3B%20Browser%20(lite)%3B%20instantsearch.js%20(4.25.2)%3B%20JS%20Helper%20(3.5.4)&x-algolia-api-key=cdd85ab4fc628277674bb5d9e375af2b&x-algolia-application-id=12786HBSDL
    body:
      encoding: ''
      string: '{"requests":[{"indexName":"wp_searchable_posts","params":"query=\"case
        studies\"","facetFilters":"[[\"competition_year:2018\",\"competition_year:2019\",\"competition_year:2020\",\"competition_year:2021\"],[\"post_type:fellow\"]]","page":"0"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      x-alg-pt: '1'
      content-disposition: inline; filename=a.txt
    body:
      encoding: UTF-8
      file: no
      string: "{\"results\":[{\"hits\":[{\"post_id\":10395,\"post_type\":\"fellow\",\"post_type_label\":\"Fellows\",\"post_title\":\"Tend[...]
[...]
