http_interactions:
- request:
    method: get
    uri: https://www.templeton.org/?limit=500&s=ethnography
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link: <https://www.templeton.org/wp-json/>; rel="https://api.w.org/"
      x-cloud-trace-context: 5ebc7708f33b4470b22f3a1d941c2fef/17622078853763219130;o=0
      x-pantheon-styx-hostname: styx-fe2-a-854c9bcdfb-25db4
      x-styx-req-id: 35dd1e82-9c0d-11ec-9ef3-8a10d23a32ca
      x-tec-api-origin: https://www.templeton.org
      x-tec-api-root: https://www.templeton.org/wp-json/tribe/events/v1/
      x-tec-api-version: v1
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<!--[if IE 8]>\n<html class=\"no-js ie ie8\" lang=\"\">\n<![endif]-->\n<!--[if
        IE 9]>\n<html class=\"no-js ie ie9\" lang=\"\">\n<![endif]-->\n<!--[if gt
        IE 9]>\n<html class=\"no-js ie ie9plus\" lang=\"\">\n<![endif]-->\n<html class=\"no-js\"
        lang=\"\">\n\n<head>\n\n\t<meta charset=\"UTF-8\" />\n\t<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\"><script type=\"text/javascript\">(window.NREUM||(NREUM={})).init={ajax:{deny_list:[\"bam.nr-data.net\"]}};(window.NREUM||(NREUM={})).loader_config={licenseKey:\"156398ea8b\",applicationID:\"44072675\"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function
        r(n){if(!e[n]){var i=e[n]={exports:{}};t[n][0].call(i.exports,function(e){var
        i=t[n][1][e];return r(i||e)},i,i.exports)}return e[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<n.length[...]
- request:
    method: get
    uri: https://www.templeton.org/grants/grant-database
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link:
      - <https://www.templeton.org/wp-json/>; rel="https://api.w.org/"
      - <https://www.templeton.org/wp-json/wp/v2/pages/1297>; rel="alternate"; type="applicat[...]
