http_interactions:
- request:
    method: post
    uri: https://api.usaspending.gov/api/v2/search/spending_by_award/
    body:
      encoding: ''
      string: '{"fields":["Award ID","Recipient Name","Description","Start Date","End
        Date","Award Amount","Awarding Agency","Awarding Sub Agency","Funding Agency","Funding
        Sub Agency"],"filters":{"agencies":[{"name":"Institute of Museum and Library
        Services","tier":"toptier","type":"awarding"},{"name":"Smithsonian Institution","tier":"toptier","type":"awarding"},{"name":"Department
        of Commerce","tier":"toptier","type":"awarding"},{"name":"Department of Education","tier":"toptier","type":"awarding"},{"name":"Department
        of the Interior","tier":"toptier","type":"awarding"}],"award_type_codes":["02","03","04","05"],"keywords":["test"],"recipient_type_names":["higher_education"],"time_period":[{"start_date":"2012-01-01","end_date":"2014-01-01"}]},"limit":50,"page":1,"order":"desc","subawards":"false"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: POST, OPTIONS
      cache-trace: hit-cache
      key: 4fc3403e949682aaec60dfd85d919a14
    body:
      encoding: UTF-8
      file: no
      string: '{"limit":50,"results":[{"internal_id":49915272,"Award ID":"S330B130017","Recipient
        Name":"EDUCATION, CALIFORNIA DEPARTMENT OF","Description":"TEST FEES","Start
        Date":"2013-09-01","End Date":"2014-08-31","Award Amount":10757186.0,"Awarding
        Agency":"Department of Education","Awarding Sub Agency":"Department of Education","Funding
        Agency":null,"Funding Sub Agency":null,"awarding_agency_id":1068,"generated_internal_id":"ASST_NON_S330B130017_9100"},{"internal_id":49915239,"Award
        ID":"S330B120063","Recipient Name":"EDUCATION, CALIFORNIA DEPARTMENT OF","Description":"TEST
        FEES","Start Date":"2012-08-01","End Date":"2013-07-31","Award Amount":7603942.0,"Awarding
        Agency":"Department of Education","Awarding Sub Agency":"Department of Education","Funding
        Agency":null,"Funding Sub Agency":null,"awarding_agency_id":1068,"generated_internal_id":"ASST_NON_S330B120063_9100"},{"internal_id":[...]
[...]
